<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tributes</title>
</head>
<body>
    <%for(let i=0; i < tributes.length; i++){%>
        <div>
            <h2><%=tributes[i].nameTribute%></h2>
        </div>
    <%}%>
</body>
</html>